@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center text-danger m-auto w-50 d-block">
    <h1>
        Access Denied
    </h1>
    <h6>You do not have permission to view this resource</h6>
</div>