@model ForgotPasswordViewModel

<h1>Forgot Password</h1>

<form method="post">
<label asp-for="Email"></label>
<input asp-for="Email" />
<button type="submit" class="btn btn-primary">Submit</button>
</form>